/* Navbar */
.navbar {
    position: relative;
    z-index: 1;

}
.navbar-brand {
    font-family: viga;
    font-size: 32px;
}

/* Jumbotron */
.jumbotron {
    background-image: url(../image/a.png);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}
.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
}
.jumbotron .display-4 {
    
    color: black;
    margin-top: 150px;
    font-weight: 200;
    font-size: 32px;
    margin-bottom: 30px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}
/* utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}


/* Desktop version */
@media (min-width: 992px) {
    .navbar-brand, .nav-link  {
        color: black !important;
    }
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid black;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
 }

 .jumbotron {
     margin-top: -75px;
     height: 640px;
 }

 .jumbotron .display-4 {
    font-size: 62px;
 }
 
/* about page */
.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.jumbotron .display-4 {
    
    color: black;
    margin-top: 150px;
    font-weight: 200;
    font-size: 32px;
    margin-bottom: 30px;
}

/* portofolio page */

.jumbotron .project {
    
    color: black;
    margin-top: 150px;
    font-weight: 200;
    font-size: 32px;
    margin-bottom: 30px;
/* collage page */



/* contact */
.jumbotron .list-inline {
    
    color: black;
    margin-top: 150px;
    font-weight: 200;
    font-size: 32px;
    margin-bottom: 30px;
    background-color: rgb(168, 196, 190);