/* body */
.body {
    background-image: url(../image/a.png);
    background-size: cover;
    text-align: center;
    position: relative;
}

/* Navbar */
.navbar {
    position: relative;
    z-index: 1;

}
.navbar-brand {
    font-family: viga;
    font-size: 32px;
}

/* utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
    background-color: rgb(133, 213, 250);
}

/* Desktop version */

@media (min-width: 992px) {
.navbar-brand, .nav-link  {
        color: black !important;
}
.nav-link {
        text-transform: uppercase;
        margin-right: 30px;
}

.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid black;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

/* home page */

/* about page */

.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.jumbotron-fluid .display-4 {
    color: black;
    margin-top: 150px;
    font-weight: 200;
    font-size: 32px;
    margin-bottom: 30px;
}

.navbar-brand{
    font-family: viga;
    font-size: 32px;

/* portofolio page */

.jumbotron-fluid .project {
    margin-top: 150px;
    font-weight: 150px;
    font-size: 32px;
    margin-bottom: 20px;